<h1>View Property</h1>
Property: <%=@property.title%><br>
Description: <%=@property.body%><br>
Created by: <a href="/users/<%=@user.id%>"><%=@user.name%></a><br>

<!-- EDIT PROPERTY -->

<%if authentication? (@property.user_id)%>
<a href="<%=@property.id%>/edit">Edit Property</a><br>
<%end%>

<!-- BOOKING -->

<% unless authentication? (@property.user_id)%>
<a href="/bookings/<%=@property.id%>">Book Property</a><br>
<%else%>
<%end%><br><br>



<br>
<!-- SHOW COMMNETS -->

<%@property.comments.each do |a| %>
	<%user = User.find(a.user_id)%>
	User: <a href="/users/<%=user.id%>"><%=user.name%></a><br>
	Comment: <%=a.comment%><br>
		<% if authentication? (a.user_id)%>
		<a href="/comments/<%=a.id%>/edit">Edit Comment</a><br>
		<%end%><br><br>
<%end%>

<br>

<!-- COMMENT CREATE -->

<% if logged_in?%> 
	<form action="/comments" method="post">
		<input type="hidden" name="property_id" value="<%=@property.id%>">
		<label>Comment property: </label><br>
		<textarea type="text" class="form-control"  rows="3" name="comment"></textarea>
		<br>
		<div class="pull-right">
		<input type="submit" class="btn btn-primary" name="Create Answer" /></div>
	</form>
<% else %>
<p>Just registered users can create answers - please log in or create a new account</p>
<% end %>




