<h1>View Property</h1>
Property: <%=@property.title%><br>
Description: <%=@property.body%><br>
Created by: <a href="/users/<%=@user.id%>"><%=@user.name%></a><br>

<%if authentication? (@property.user_id)%>
<a href="<%=@property.id%>/edit">Edit Property</a><br>
<%end%>
